body {
    background: rgba(24, 30, 52, 1);
    /* font-size: 16px; */
    line-height: 150%;
    /* font-weight: 400; */
    color: white;
    font-family: "Montserrat", "Arial", sans-serif;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ====================================== */
.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-item:last-child {
    margin-right: 34px;
}

.header-button {
    background: white;
    border-radius: 100px;
    color: rgba(39, 102, 174, 1);
    font-weight: 500;
    padding: 14px 30px;
}

/* ========================================= */

.hero {
    background: linear-gradient(rgba(24, 30, 52, 0.81), rgba(24, 30, 52, 0.81)), url("../img/bg-main.jpg") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.hero-txt {
    max-width: 436px;
}

.hero-txt span {
    font-weight: 700;
    text-transform: uppercase;
    color: #01a2cb;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    font-weight: 500;
    padding: 18px 30px;
    text-align: center;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin-bottom: 10px;
}

.hero-button-two {
    background: linear-gradient(129deg, #00a4cc 0%, #2766ae 100%);
    display: flex;
    justify-content: center;
}

/* ========================================================== */

.cards {
    padding: 120px 0;
}



.cards-title {
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-txt {
    text-align: center;
    line-height: 1.5;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -28px;
    padding-bottom: 30px;
}


.card {
    border: 2px solid #176bae;
    border-radius: 16px;
    padding: 28px;
    box-shadow: 4px 4px 13px 0 rgba(5, 13, 41, 0.76);
    background: #197cb8;
    max-width: 204px;
    margin-bottom: 28px;
    flex: 0 0 25%;


}

.block-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.block-text {
    line-height: 1.5;
    text-align: center;
}

.cards-button {
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00a4cc 0%, #2766ae 100%);
    margin: 0 auto;
    max-width: 436px;
    display: flex;
    justify-content: center;
    font-weight: 500;
}

/* ================================================== */

.footer {
    padding: 60px 0;
    border-top: 1px solid #323952;
}

.footer-inner {
    display: flex;
}

.footer-desc {
    max-width: 267px;
    margin-right: auto;
}

.footer-desc a {
    display: inline-block;
    margin-bottom: 15px;
}

.footer-block {
    max-width: 204px;
    width: 100%;
}

.footer-block-margin
{
    margin-right: 28px;
}

.footer-title {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-list
{
    margin-bottom: -10px;
}

.footer-item
{
    margin-bottom: 10px;
}
